

*
{
margin: 0;
padding:0 ;
box-sizing: border-box;
font-family: "Raleway", sans-serif;
}

$Raleway:'Raleway', sans-serif;
$Cardo:'Cardo', sans-serif;

$white:#ffffff;
$font-color2:#2D3033;
$font-color3:#6C7279;
$button-color:#FF4343;
$black-color:#000000;

$regular:400;
$bold:700;
$black:900;

$buttonfont-size:24px;
$buttonline-height:28px;
$buttonwidth:370px;
$buttonpadding:28px 0;
$buttonhover:#E71414;
$buttonactive:#FF4343;

@mixin font($fontfamily,$fontsize, $fontweight,$color,$lineheight){
    font-family: $fontfamily;
    font-size: $fontsize;
    font-weight: $fontweight;
    color: $color;
    line-height: $lineheight;
}

.container
{
max-width: 1202px;
margin: 0 auto;
padding: 0 16px;
}
    
.wrapper{
    background-image: url(../media/1.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 116px;

    @media(max-width:1024px){
        margin-bottom: 78px;
    }
    @media(max-width:320px){
margin-bottom: 40px;
    }
    
}

 .wrapper::before{
        content:' ';
        display:block;
        width:100%;
        height:100%;
        background: rgba(37,43,73,0.7);
        position:absolute;
        left:0;
        top:0;
        }

    .header{

    padding: 36px 0 32px;
    position: relative;


        &__container{
            display: flex;
            justify-content: space-between;
        }
            
        &__logo{
            display: flex;
            }
        &__logo:hover{
            transform: scale(1.5);
            }
        
        .nav{
            display: flex;
            justify-content: center;
            column-gap: 60px;
            align-items: center;
            
                &__item{

                text-decoration:none;
                text-transform: uppercase;
                text-align: center;
                @include font($Raleway,13px ,$bold ,$white,15px)

                @media(max-width:1024px){
                    font-size:12px;
                    line-height:14px;
                }
                }

                &__item:active{
                    color: #E71414;
                }
                &__item:hover{
                    color: #BABBC5;
                }   
        }
    }

    .header::after{
        display: inline-block;
        content: ' ';
        border: 3px solid #BABBC5;
        width: 134px;
        position: absolute;
        left: 50%;
        bottom: 5px;
        transform: translateX(-35%);

        @media(max-width:1024px){
            width: 119px;
        }
        }
    

    .banner{
        padding: 130px 0 120px;
        position: relative;

        @media(max-width:1024px) {
            padding: 157px 0 126px ;  
        }
        @media(max-width:320px){
            padding: 50px 0 52px ;   
        }
        

        &__title{
            
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 32px;
            @include font($Raleway,64px ,$black ,$white, 75px);
            @media(max-width:320px){
                font-size:36px;
                line-height: 42px;
            }
            @media(max-width:1024px){
                font-size:48px;
                line-height: 56px;
            }
        }

        &__text{
            
            text-align: center;
            @include font($Raleway,24px ,$regular ,$white , 28px);
            @media(max-width: 1024px){
                font-size: 18px;
                line-height: 21px;
            }
            @media(max-width: 320px){
                font-size: 14px;
                line-height: 16px;
            }
        }

        .button{
            
            background-color: $button-color;
            border: none;
            max-width: $buttonwidth;
            width: 100%;
            padding: $buttonpadding;
            display: block;
            margin: 0 auto;
            margin-top: 80px;
            @include font($Raleway,$buttonfont-size ,$black ,$white ,$buttonline-height );
            @media(max-width:1024px){
                font-size: 24px;
                line-height: 28px;
                margin-top: 49.29px;
                padding:18px 0;
                max-width: 314px;
            }
            @media(max-width:320px){
                font-size: 24px;
                line-height: 28px;
                margin-top: 89.14px;
                padding:18px 0;
                max-width: 280px;
            }
        }
        .button:hover{
            background-color: $buttonhover;
        }

        .button:active{
            background: #FF4343;
            box-shadow: 4px 4px 30px #FF4343;
        }

    }
    .banner::before{
        display: inline-block;
        content: ' ';
        border: 1px solid #BABBC5;
        width: 1170px;
        position: absolute;
        left: 50%;
        top: -5px;
        transform: translateX(-50%);

        @media(max-width:1024px){
            width: 984px;
        }
        }





