* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.container {
  max-width: 1202px;
  margin: 0 auto;
  padding: 0 16px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  border-bottom: 1px solid #BABBC5;
}
@media screen and (max-width: 767px) {
  .header__container {
    border-bottom: none;
  }
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo:hover {
  transform: scale(1.5);
}
@media screen and (max-width: 767px) {
  .header__logo:hover:hover {
    transform: scale(1);
  }
}
.header .nav {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.header .nav__item {
  text-decoration: none;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding-top: 36px;
  padding-bottom: 32px;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 3px solid transparent;
  min-width: 134px;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #ffffff;
  line-height: 15px;
}
@media screen and (max-width: 1024px) {
  .header .nav__item {
    font-size: 12px;
    line-height: 14px;
    -moz-column-gap: 5px;
         column-gap: 5px;
    min-width: 112px;
  }
}
@media screen and (max-width: 767px) {
  .header .nav__item {
    display: none;
  }
}
.header .nav__item:active {
  color: #E71414;
  border-bottom: 3px solid #E71414;
}
.header .nav__item:hover {
  color: #BABBC5;
  border-bottom: 3px solid #BABBC5;
}
.header .nav .nav__icon {
  display: none;
}
@media screen and (max-width: 767px) {
  .header .nav .nav__icon {
    display: block;
    padding-top: 19px;
    padding-bottom: 19px;
  }
  .header .nav .nav__icon:hover {
    transform: scale(1.5);
  }
}

.banner {
  background-image: url(../media/1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 116px;
  padding: 237px 0 120px;
}
@media screen and (max-width: 767px) {
  .banner {
    padding: 106px 0 52px;
    margin-bottom: 44px;
  }
}
@media screen and (max-width: 1024px) {
  .banner {
    padding: 257px 0 126px;
    margin-bottom: 78px;
  }
}
.banner__container {
  position: relative;
}
.banner__title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;
  font-family: "Raleway", sans-serif;
  font-size: 64px;
  font-weight: 900;
  color: #ffffff;
  line-height: 75px;
}
@media screen and (max-width: 767px) {
  .banner__title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 1024px) {
  .banner__title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 62px;
  }
}
.banner__text {
  text-align: center;
  max-width: 999px;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  line-height: 28px;
}
@media screen and (max-width: 767px) {
  .banner__text {
    font-size: 14px;
    line-height: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .banner__text {
    font-size: 18px;
    line-height: 21px;
  }
}
.banner .button {
  background-color: #FF4343;
  border: none;
  max-width: 370px;
  width: 100%;
  padding: 28px 0;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  margin-top: 80px;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 900;
  color: #ffffff;
  line-height: 28px;
}
@media screen and (max-width: 767px) {
  .banner .button {
    font-size: 24px;
    line-height: 28px;
    margin-top: 49px;
    padding: 18px 0;
    max-width: 280px;
  }
}
@media screen and (max-width: 1024px) {
  .banner .button {
    font-size: 24px;
    line-height: 28px;
    margin-top: 89px;
    padding: 28px 0;
    max-width: 314px;
  }
}
.banner .button.button:hover {
  background-color: #E71414;
}
.banner .button.button:active {
  background: #FF4343;
  box-shadow: 4px 4px 30px #FF4343;
}

.banner:before {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(37, 43, 73, 0.7);
  position: absolute;
  left: 0;
  top: 0;
}/*# sourceMappingURL=styles.css.map */