*
{
margin: 0;
padding:0 ;
box-sizing: border-box;
font-family: "Raleway", sans-serif;
}

$Raleway:'Raleway', sans-serif;
$Cardo:'Cardo', sans-serif;

$white:#ffffff;
$font-color2:#2D3033;
$font-color3:#6C7279;
$button-color:#FF4343;
$black-color:#000000;

$regular:400;
$bold:700;
$black:900;

$buttonfont-size:24px;
$buttonline-height:28px;
$buttonwidth:370px;
$buttonpadding:28px 0;
$buttonhover:#E71414;
$buttonactive:#FF4343;

@mixin font($fontfamily,$fontsize, $fontweight,$color,$lineheight){
    font-family: $fontfamily;
    font-size: $fontsize;
    font-weight: $fontweight;
    color: $color;
    line-height: $lineheight;
}

.container
{
max-width: 1202px;
margin: 0 auto;
padding: 0 16px;
}       

.header{
   position: fixed;
   width:100%;
   top: 0;
   left: 0;
   z-index:1;

     &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 30px;
        border-bottom: 1px solid #BABBC5;

        @media screen and (max-width:767px){
            border-bottom: none;
        }
        }
            
    &__logo{
        display: flex;
        align-items: center;
    }
    &__logo:hover{
        transform: scale(1.5);
        @media screen and (max-width:767px){
        &:hover{
        transform: scale(1);
        }
        }  
    }
        
   .nav{
      display: flex;
      column-gap: 5px;
            
        &__item{
            text-decoration:none;
            column-gap: 30px;
            padding-top: 36px;
            padding-bottom: 32px;
            text-transform: uppercase;
            text-align: center;
            border-bottom: 3px solid transparent;
            min-width: 134px;
                @include font($Raleway,13px ,$bold ,$white,15px);
                @media screen and (max-width: 1024px){
                    font-size:12px;
                    line-height:14px;
                    column-gap: 5px;
                    min-width: 112px;
                }
                @media screen and (max-width:767px){
                    display: none;    
                }
                
                &:active{
                    color: #E71414;
                    border-bottom: 3px solid #E71414;
                }
                &:hover{
                    color: #BABBC5;
                    border-bottom: 3px solid #BABBC5;
                }         
        }
        .nav__icon{
            display: none;

            @media screen and (max-width:767px){
            display:block;
            padding-top: 19px;
            padding-bottom: 19px;
            &:hover{
                transform: scale(1.5);
                }
            }
       }  
    }   
}

.banner{
        background-image: url(../media/1.png) ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        margin-bottom: 116px;
        padding: 237px 0 120px;

        @media screen and (max-width:767px){
        padding:106px 0 52px ;
        margin-bottom: 44px;
        }
        @media screen and (max-width:1024px){
        padding: 257px 0 126px;
        margin-bottom: 78px;
        }

        &__container{
            position: relative;
        }
        &__title{
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 32px;
            @include font($Raleway,64px ,$black ,$white, 75px);
            @media screen and (max-width:767px){
                font-size:36px;
                line-height: 42px;
                margin-bottom: 32px;    
            }
            @media screen and (max-width:1024px){
                font-size:48px;
                line-height: 56px;
                margin-bottom: 62px;
            }
        }

        &__text{
            text-align: center;
            max-width: 999px;
            @include font($Raleway,24px ,$regular ,$white , 28px);
            @media screen and (max-width:767px){
                font-size: 14px;
                line-height: 16px;
            }
            @media screen and (max-width:1024px){
                font-size:18px;
                line-height: 21px;
            }
        }

        .button{
            background-color: $button-color;
            border: none;
            max-width: $buttonwidth;
            width: 100%;
            padding: $buttonpadding;
            text-transform: uppercase;
            display: block;
            margin: 0 auto;
            margin-top: 80px;
            @include font($Raleway,$buttonfont-size ,$black ,$white ,$buttonline-height );
            @media screen and (max-width:767px){
                font-size: 24px;
                line-height: 28px;
                margin-top: 49px;
                padding:18px 0;
                max-width: 280px;
            }
            @media screen and (max-width:1024px){
                font-size: 24px;
                line-height: 28px;
                margin-top: 89px;
                padding: 28px 0;
                max-width: 314px;
        }
        &.button:hover{
            background-color: $buttonhover;
        }
        &.button:active{
            background: #FF4343;
            box-shadow: 4px 4px 30px #FF4343;
        } 
    }
}
    .banner:before{
        content:' ';
        display:block;
        width:100%;
        height:100%;
        background: rgba(37,43,73,0.7);
        position:absolute;
        left:0;
        top:0;
        }

.icons{

}

.icons__container{
}

.icons__element{
    display: block;
max-width: 370px;
}

.icons__element__wrapper{

    }
.icons__element__title{
@include font($Raleway,24px ,$black ,#2D3033 ,28px )
    }
 .icons__element__text{
        @include font($Raleway,18px,$regular,$font-color3,21px )
    }

    



     